.banner {
  background-size: cover;
  background-position: top;
  padding: 150px 0;
  position: relative;
  h1 {
    margin: 0;
    color: #CBE4DE;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 60px;
    font-weight: bold;
    text-align: center;
  }
  p {
    font-size: 20px;
    color: #CBE4DE;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  button {
    position: absolute;
    bottom: -17px;
    right: 50px;
  }
}
