.btn-jake {
  padding: 10px 15px;
  color: orange;
  background-color: red;
}

.btn-add {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  border: none;
  &:hover {
    background: #ababab;
  }
}

.btn-plus {
  position: absolute;
  width: 35px;
  height: 35px;
  background: #fff;
  cursor: pointer;
  border: 2px solid #095776;
  &:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50%;
    background: #095776;
    top: 50%;
    left: 50%;
  }
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #095776;
    height: 50%;
    width: 4px;
  }
  &:hover {
    background-color: #095776;
    transition: 0.2s;
  }
  &:hover:before,
  &:hover:after {
    background: #fff;
    transition: 0.2s;
  }
}
